// size 375px size(width px)
@function size($size) {
    $width: 375;
    $scale: 10;
    @return ($size / $width * $scale) * 1rem;
}
%init-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
%center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
%line-over{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
%line-overs{
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
%row {
    &::after {
    content: " ";
    display: table;
    clear: both;
  }
}
%space-wrap {
    padding-left: .3rem;
    padding-right: .3rem;
}
@mixin data-dpr($field, $val) {
    [data-dpr="1"] & {
        #{$field}: $val;
    }
    [data-dpr="2"] & {
        #{$field}: $val * 2;
    }
    [data-dpr="3"] & {
        #{$field}: $val * 3;
    }
}
@mixin font-size($size){
    font-size: $size;
    [data-dpr="2"] & {
        font-size: $size * 2;
    }
    [data-dpr="3"] & {
        font-size: $size * 3;
    }
}